@import '../../styles/mixins';

.button {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: var(--small-radius);
  opacity: 0.7;
  transition: transform 0.2s;

  &:hover {
    background: var(--md-opacity);
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.icon {
  filter: var(--icon-filter);
}