@import '../../styles/mixins';

.game {
  @include flexCenter;
  flex-direction: column;
  gap: 5vh;
}

.header {
  @include flexCenter;
  flex-direction: column;
  margin-top: 10vh;
  gap: 50px;
}

.span {
  font-size: 25px;
  font-weight: 300;
}

.question {
  font-weight: 500;
  font-size: 30px;
  padding: 50px;
  text-align: center;
  line-height: 130%;
  transform: scale(0);
  animation: animApparition 0.5s ease-in-out forwards;
}

@keyframes animApparition {
  100% {
    transform: scale(1);
  }
}