@import '../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: var(--navbar-width);
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color-secondary);
}

.title {
  margin-left: 40px;
  font-size: 25px;
  font-weight: 600;
}

.list {
  display: flex;
}

.button {
  padding: 30px 40px;
  color: var(--black);
  opacity: 0.7;
  transition: transform 0.2s;
  border-bottom: 3px solid transparent;

  &_active {
    opacity: 1;
    border-bottom-color: var(--black);
  }

  &:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.9);
  }
}