@import '../../../styles/mixins';

.card {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 50px;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
  color: var(--text-color);
}

.creator {
  color: inherit;
}

.category {
  color: var(--grey);
  font-size: 12px;
}

.details {
  @include flexCenter;
  flex-direction: column;
  padding: 0 20px;
  font-size: 12px;
}