@import '../../styles/mixins';

.inputBox {
  @include flexCenter;
  width: 100%;
}

.list {
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--small-radius);
  overflow: hidden;
  transition-property: height, padding;
  transition-duration: .3s;

  &.opened {
    margin-bottom: 10px;
    height: 100px;
    padding: 10px;
  }
}

.item {
  font-size: 12px;
  font-weight: 500;
  margin: 3px;

  &::after {
    content: '⬜️';
    margin-left: 2px;
  }

  &.valid {
    color: var(--green);

    &::after {
      content: '✅';
    }
  }
}

.notification {
  color: var(--white);
  background: var(--green-hover);
  border: 2px solid var(--green);
  border-radius: var(--small-radius);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 120%;
  animation: animApparition .3s ease-out;
}

@keyframes animApparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}