@import '../../styles/mixins';

.inputBox {
  @include flexCenter;
  width: 100%;
}

.list {
  max-height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--small-radius);
  overflow: hidden;
  transition-property: max-height, padding;
  transition-duration: .3s;

  &.opened {
    margin-bottom: 10px;
    max-height: 150px;
    padding: 10px;
  }
}

.item {
  font-size: 12px;
  font-weight: 500;
  margin: 3px;

  &::after {
    content: '⬜️';
    margin-left: 2px;
  }

  &.valid {
    color: var(--green);

    &::after {
      content: '✅';
    }
  }
}