@import '../../styles/mixins';

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow);
  margin: 10px 0;
  position: relative;
}

.header {
  padding: 18px 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

.category {
  color: var(--grey);
  font-size: 12px;
}

.button {
  padding: 18px 24px;
  border-radius: var(--small-radius);
  opacity: 0.5;

  &:hover {
    background: var(--md-opacity);
    opacity: 1;
  }
}

.icon {
  height: 25px;
  width: 25px;
}

.footer {
  position: absolute;
  left: 100%;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.warning {
  cursor: default;
  background: var(--warning-bg);
  border: 2px solid var(--warning-border);
  border-radius: var(--small-radius);
  padding: 10px;
}