.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow);
  background: var(--body-color);
  min-width: 10rem;
  width: 50rem;
  margin: 20px 0;
}

.name {
  padding: 0 20px;
}