@import '../../styles/mixins';

.input {
  @include hiddenInput;

  &:checked + .card {
    height: 220px;
    padding: 15px;

    & .toggle_icon {
      transform: rotate(180deg);
    }
  }
}

.card {
  width: 500px;
  height: 60px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--small-radius);
  background: var(--main-color-light);
  transition: .3s;
  font-size: clamp(0.8rem, 0.7153rem + 1.6368vw, 1rem);

  &:hover {
    background: var(--main-color-third);
  }
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.toggle_icon {
  position: absolute;
  right: 30px;
  width: 25px;
  height: 25px;
  transition: .3s;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: var(--small-radius);
  background: rgba(0, 0, 0, 0.25);
}

.pseudo {
  color: var(--text-color);
  margin-left: 15px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(5px);
  animation: animApparition 0.5s 0.3s ease-out forwards;
}

.content {
  margin: 5px 0;
}

.subtitle {
  font-weight: 500;
}

.footer {
  margin-top: 20px;
  @include flexCenter;
  justify-content: space-between;
}

.button {
  @include mainButton;

  &__secondary {
    @include secondaryButton;
    font-size: 12px;
  }
}

@keyframes animApparition {
  100% {
    opacity: 1;
    transform: none;
  }
}