@import '../../../styles/mixins';

.answer {
  padding: 20px 30px;
  border-radius: var(--small-radius);
  color: var(--white);
  text-align: center;
  
  &__right {
    background: var(--green);
  }

  &__wrong {
    background: var(--red);
  }
}

.description {
  padding: 20px 30px;
  max-width: 50vw;
  border-radius: var(--small-radius);
  background: rgba(0, 0, 0, 0.1);
}

.next {
  @include secondaryButton;
  margin-top: 5vh;
}