@import '../../../../styles/mixins';

.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--medium-radius);
  padding: 2em 4em;
  margin: 10px 0;
  width: 100%;
}

.button {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: var(--small-radius);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}