@import '../../styles/mixins';

.navbar {
  @include posFixed(0, auto, auto, 0);
  @include flexCenter;
  background: var(--main-color);
  width: var(--navbar-width);
  height: 100vh;
}

.list {
  @include flexCenter;
  flex-direction: column;
  width: 100%;

  &__item {
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: var(--white);
    padding: 3px 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    opacity: 0.7;
    transition: letter-spacing .3s;

    &:hover {
      letter-spacing: 0.5em;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    display: none;
  }
}