@import '../../styles/mixins';

.navbar {
  @include posFixed(0, auto, auto, 0);
  @include flexCenter;
  background: var(--main-color);
  width: var(--navbar-width);
  height: 100vh;
}

.list {
  @include flexCenter;
  flex-direction: column;

  &__item {
    cursor: pointer;
    color: var(--white);
    margin: 5px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;

    &:hover {
      letter-spacing: 5px;
    }
  }
}