@import '../../../styles/mixins';

.details {
  position: relative;
  width: 100%;
  font-size: 0.9em;
  opacity: 0;
  margin-top: 4rem;
  transform: translateY(5px);
  animation: animApparition 0.5s 0.3s ease-out forwards;
}

.footer {
  @include flexCenter;
  justify-content: space-evenly;
  padding: 0 0 1em;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  font-style: italic;
}

@keyframes animApparition {
  100% {
    opacity: 1;
    transform: none;
  }
}