@import '../../styles/mixins';

.container {
  padding: 2rem 4rem;
  box-shadow: var(--box-shadow);
  background: var(--body-color);
  border-radius: var(--small-radius);
  display: flex;
  flex-direction: column;
  gap: 15px;
}