@import '../../styles/mixins';

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  height: 50px;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.category {
  color: var(--grey);
  font-size: 12px;
}

.details {
  @include flexCenter;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  font-size: 12px;
}