@import '../../styles/mixins';

.container {
  @include flexCenter;
  flex-wrap: wrap;
}

.input {
  display: none;

  &:checked + .picker{
    border-color: var(--black);
  }
}

.picker {
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 5px;

  &_purple {
    @include colorPicker;
    background: hsl(var(--purple-hue), 69%, 61%);

    &:hover {
      background: hsl(var(--purple-hue), 57%, 53%);
    }
  }

  &_blue {
    @include colorPicker;
    background: hsl(var(--blue-hue), 69%, 61%);

    &:hover {
      background: hsl(var(--blue-hue), 57%, 53%);
    }
  }

  &_pink {
    @include colorPicker;
    background: hsl(var(--pink-hue), 69%, 61%);

    &:hover {
      background: hsl(var(--pink-hue), 57%, 53%);
    }
  }

  &_red {
    @include colorPicker;
    background: hsl(var(--red-hue), 69%, 61%);

    &:hover {
      background: hsl(var(--red-hue), 57%, 53%);
    }
  }

  &_orange {
    @include colorPicker;
    background: hsl(var(--orange-hue), 69%, 61%);

    &:hover {
      background: hsl(var(--orange-hue), 57%, 53%);
    }
  }
}