@import '../../styles/mixins';

.container {
  @include flexCenter;
  flex-direction: column;
  margin-top: 70px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 20px;
}

.input {
  width: 400px;
}

.questions {
  @include flexCenter;
  flex-direction: column;
  max-width: 800px;
}

.list {
  margin: 0 0 50px;
}

.button {
  @include secondaryButton;
  font-size: 12px;
  margin-bottom: 40px;
}