@import '../../../../styles/mixins';

.form {
  margin: 10px 0;
  min-width: 30rem;
  width: 100%;
  max-width: 50rem;
  position: relative;
}

.button {
  @include posAbsolute(1rem, 0, auto, auto);
  @include mainButton;
}