@import '../../../../styles/mixins';

.card {
  @include flexCenter;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
  box-shadow: var(--box-shadow);
  background: var(--body-color);
  border-radius: var(--small-radius);
  padding: 2em 4em;
  text-align: center;
}