@import '../../../../styles/mixins';

.card {
  @include flexCenter;
  flex-direction: column;
  gap: 25px;
  box-shadow: var(--box-shadow);
  background: var(--body-color);
  border-radius: var(--small-radius);
  padding: 2em 4em;
  text-align: center;
}

.title {
  font-weight: 600;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}



.message {
  &__content {
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
    border-radius: var(--main-radius);
  }
}

.button {
  @include imageButton;
}

.creator {
  @include underlineButton;
  margin-left: 0.4em;
  font-size: 1.4rem;
}

.info {
  font-weight: 300;
}

.content {
  font-weight: 500;
}