.input {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 11px;
  right: 8px;
  border-radius: 50%;
  padding: 0.5rem;
  width: 3.3rem;
  height: 3.3rem;
  background: var(--input-color);
  transition: transform .2s;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.9);
  }
}