.input {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 11px;
  right: 8px;
  border-radius: 50%;
  padding: 4px;
  width: 33px;
  height: 33px;
  background: var(--input-color);
  transition: transform .2s;

  &:hover {
    background: var(--white);
  }

  &:active {
    transform: scale(0.9);
  }
}