@import '../../../styles/mixins';

.infos {
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5em 5em;
  box-shadow: var(--box-shadow);
  border-radius: var(--main-radius);
  background: var(--body-color);
}

.link {
  @include underlineButton;
  font-size: 1.6rem;
  margin-left: 0.4em;
}