@import '../../styles/mixins';

.behind {
  @include posFixed(79px, auto, auto, var(--navbar-width));
  min-height: 100vh;
  width: 100%;
  background: rgba(10, 10, 10, 0.5);
  opacity: 0;
  animation: fadeAnim .3s ease-out forwards;
}

.card {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: 10vh;
  min-width: 600px;
  background: var(--body-color);
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow);
  padding: 35px 50px;
  opacity: 0;
  transition: .3s;
  transform: translate(-50%, 0);
  animation: animApparition 0.3s ease-out forwards;
}

.title {
  font-size: 20px;
  color: var(--grey);

  &__span {
    margin-left: 0.5em;
    color: var(--text-color);
  }
}

.reported {
  margin: 20px 0;
  text-align: center;

  &__button {
    color: var(--warning);
    background: var(--warning-bg);
    border: 1px solid var(--warning-border);
    border-radius: var(--small-radius);
    padding: 9px 16px;
  }
}

.body {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  color: var(--grey);
}

.span {
  color: var(--text-color);
  margin-left: 0.5em;

  &__creator {
    @include underlineButton;
    font-size: 15px;
  }

  &__nbOfQuestions {
    color: var(--text-color);
    margin-right: 0.4em;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 0 0 25px;
}

.moderate {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: var(--small-radius);
  opacity: 0.7;

  &:hover {
    background: var(--button-icon-hover);
    opacity: 1;
  }
}

.delete {
  @include underlineButton;
}

@keyframes animApparition {
  0% {
    transform: translate(-50%, -20%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeAnim {
  100% {
    opacity: 1;
  }
}