@import '../mixins';

.wrapper {
  position: relative;
  min-height: 100vh;
}

.buttons {
  @include posAbsolute(100px, 20px, auto, auto);
  display: flex;
 
  &__item {
    @include secondaryButton;
  }
}

.container {
  @include flexCenter;
  flex-direction: column;
  padding-bottom: 40vh;
  gap: 100px;
  margin: 100px 0;
}

.quizz {
  width: 600px;
}