@import '../mixins';

.header {
  padding: 150px 50px 0;
}

.title {
  font-weight: 300;
  font-size: 3rem;
}

.buttons {
  @include posFixed(100px, 50px, auto, auto);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  @include secondaryButton;
}

.reports {
  @include flexCenter;
  flex-direction: column;
}