@import '../mixins';

.wrapper {
  position: relative;
  min-height: 100vh;
}

.buttons {
  @include posAbsolute(100px, 20px, auto, auto);
  display: flex;
  flex-direction: column;
  gap: 15px;
 
  &__item {
    @include secondaryButton;
    text-align: center
  }
}

.container {
  @include flexCenter;
  flex-direction: column;
  gap: 100px;
  padding: 150px 0 30vh;
}

.quizz {
  width: 600px;
}