@import '../mixins';

.header {
  padding: 150px 50px 0;
}

.title {
  font-weight: 300;
  font-size: 3rem;
}

.text {
  @include posCenter;
}

.buttons {
  @include posFixed(120px, 60px, auto, auto);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  @include secondaryButton;
  width: 100%;
  text-align: center;
}

.reports {
  @include flexCenter;
  flex-direction: column;
}
