@import '../../styles/mixins';

.wrapper {
  @include opacityApparition;
  @include flexCenter;
  @include posFixed(0, auto, auto, var(--navbar-width));
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
  z-index: 20;
}

.behind {
  @include posFixed(0, auto, auto, var(--navbar-width));
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.container {
  position: relative;
}