@import '../../../styles//mixins';

.card {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 800px;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--small-radius);
  background: var(--body-color);
  animation: animApparition .3s ease-out;
  transition: .3s;

  &.opened {
    padding: 15px 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 580px;
  white-space: nowrap;
  color: var(--text-color);
  font-size: var(--text-size);
}

.icon {
  @include iconButton;
}

.arrow_icon {
  @include flexCenter;
  transition: .3s;

  &.rotated {
    transform: rotate(180deg);
  }
}

@keyframes animApparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}