@import '../../../../styles/mixins';

.card {
  @include flexCenter;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--small-radius);
  background: var(--body-color);
  padding: 2em 3em 1.5rem;
  margin: 20px 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  & span {
    text-decoration: underline;
    font-size: 1.4rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  font-size: 1.2rem;

  & .link {
    @include underlineButton;
    margin-left: 0.4em;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.message {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 0.9em 1.4em;
  border-radius: var(--main-radius);
  font-size: 1.6rem;
  font-style: italic;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}