@import '../../styles/mixins';

.close_button {
  @include flexCenter;
  @include posAbsolute(10px, 10px, auto, auto);
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  transition: transform 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.9);
  }
}