@import '../../styles/mixins';

.field {
  height: 50px;
  width: 100%;
  margin: 5px 0;
}

.select {
  width: 100%;
  color: var(--text-color);
  background: var(--input-color);
  border-radius: var(--main-radius);
  border: var(--border-transparent);
  padding: var(--main-padding);
  font-family: inherit;
  cursor: pointer;

  &:hover {
    border-color: var(--main-color-light);
  }

  &:focus {
    border-color: var(--main-color);
  }
}