@import '../../styles/mixins';

.field {
  height: 50px;
  width: 100%;
  margin: 5px 0;
}

.select {
  color: var(--text-color);
  width: 100%;
  background: var(--input-color);
  padding: 9px 16px;
  border-radius: var(--small-radius);
  border: var(--border-transparent);
  font-family: inherit;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    border-color: var(--main-color-light);
  }

  &:focus {
    border-color: var(--main-color);
  }
}