@import '../../styles/mixins';

.field {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 6px 0;
}

.input {
  position: absolute;
  width: 100%;
  background: var(--input-color);
  border-radius: 15px 5px;
  padding: 0.9rem 1.8rem;
  border: var(--border-transparent);

  &:hover {
    border-color: var(--main-color-light);
  }

  &:focus {
    border-color: var(--main-color);
  }

  &:disabled {
    background: var(--grey);
  
    & + .label {
      color: var(--text-color-light);
      text-decoration: line-through;
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.label {
  position: absolute;
  top: 1.4rem;
  left: 1.8rem;
  pointer-events: none;
  display: block;
  font-size: 0.9em;
  transition: 0.4s;
  color: var(--text-color);
}

.input:focus,
.input:valid {
  padding: 1rem 1.8rem 0.8rem;
}

.input:focus + .label,
.input:valid + .label {
  transform: translateY(-140%);
  padding: 0.3rem 0.6rem;
  background: var(--main-color);
  color: var(--white);
  font-size: 0.8em;
  border-radius: 5px;
}