@import '../../../styles/mixins';

.card {
  box-shadow: var(--card-shadow);
  background: var(--body-color);
  border-radius: var(--small-radius);
  padding: 2em 4.5em 1.5em;
  max-width: 70rem;
  @include flexCenter;
  flex-direction: column;
}

.content {
  margin: 2em 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  border-radius: var(--main-radius);
  width: 100%;
}

.footer {
  align-self: flex-end;
  font-size: 1.4rem;
}