@import '../../styles/mixins';

.container {
  position: absolute;
  bottom: 20px;
}

.icon {
  z-index: 1;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.8s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    transform: translateX(-50%) rotate(180deg);
  }

  &:active {
    transform: translateX(-50%) rotate(180deg) scale(0.9);
  }
}

.settings {
  @include flexCenter;
  position: absolute;
  z-index: 2;
  flex-wrap: wrap;
  background: var(--main-color-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: 250px;
  transform: translate(-50%, 120%);
  transition: .3s;

  &.opened {
    transform: translate(-50%, -100%);
  }
}