@import '../../styles/mixins';

.container {
  @include posAbsolute(10px, 10px, auto, auto);
  @include flexCenter;
  flex-wrap: wrap;
  background: var(--main-color-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  width: 220px;
}