@import '../../styles/mixins';

.container {
  position: absolute;
  bottom: 20px;
}

.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.8s;

  &:hover {
    transform: rotate(180deg);
  }

  &:active {
    transform: rotate(180deg) scale(0.9);
  }
}

.settings {
  @include flexCenter;
  flex-wrap: wrap;
  background: var(--main-color-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: 250px;
  opacity: 0;
  transform: translateY(120%);
  animation: animApparition 0.3s ease-out forwards;

  &.closed {
    transform: translateY(120%);
  }
}

@keyframes animApparition {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}