@import '../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px;
}

.title {
  font-weight: 300;
  font-size: 2em;
}

.submit {
  @include mainButton;
}