@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --purple-hue: 250;
  --green-hue: 120;
  --blue-hue: 230;
  --pink-hue: 340;
  --red-hue: 360;
  --orange-hue: 25;

  --hue-color: var(--purple-hue);

  --main-color: hsl(var(--hue-color), 69%, 61%);
  --main-color-light:  hsl(var(--hue-color), 92%, 85%);
  --main-color-lighter: hsl(var(--hue-color), 69%, 70%);
  --main-color-secondary: hsl(var(--hue-color), 50%, 80%);
  --main-color-third: hsl(var(--hue-color), 50%, 75%);
  --main-color-alt:  hsl(var(--hue-color), 57%, 53%);

  --black: hsl(var(--hue-color), 10%, 10%);
  --white: hsl(var(--hue-color), 10%, 90%);

  --light-grey: hsl(var(--hue-color), 5%, 80%);
  --grey: hsl(var(--hue-color), 5%, 50%);
  --dark-grey: hsl(var(--hue-color), 5%, 25%);

  --green: hsl(146, 50%, 36%);
  --green-secondary: hsl(145, 11%, 71%);
  --green-hover: hsl(146, 37%, 48%);

  --yellow: hsl(50, 92%, 46%);
  --yellow-secondary: hsl(50, 30%, 75%);
  --yellow-hover: hsl(50, 92%, 66%);
  --gold: hsl(45, 100%, 50%);

  --orange: hsl(25, 69%, 61%);
  --orange-secondary: hsl(25, 46%, 77%);
  --orange-hover: hsl(25, 88%, 74%);

  --red: hsl(0, 68%, 61%);
  --red-secondary: hsl(0, 33%, 77%);
  --red-hover: hsl(0, 83%, 73%);

  --warning: hsl(354, 61%, 28%);
  --warning-hover: hsl(354, 39%, 55%);
  --warning-bg: hsl(354, 70%, 91%);
  --warning-border: hsl(354, 70%, 87%);

  --title-color:  hsl(var(--hue-color), 8%, 15%);
  --text-color:  hsl(var(--hue-color), 8%, 30%);
  --text-color-light: hsl(var(--hue-color), 8%, 75%);

  --body-color: hsl(var(--hue-color), 60%, 93%);
  --input-color: hsl(var(--hue-color), 70%, 95%);
  --card-gradient: linear-gradient(45deg, var(--main-color), var(--main-color-alt), var(--main-color));
  --icon-filter: brightness(90%);

  --sm-opacity: rgba(10, 10, 10, 0.05);
  --md-opacity: rgba(10, 10, 10, 0.1);
  --lg-opacity: rgba(10, 10, 10, 0.25);

  --main-title-size: clamp(3rem, 5vw, 7rem);
  --title-size: clamp(2rem, 3vw, 4rem);
  --subtitle-size: clamp(1.8rem, 2vw, 2.4rem);
  --big-text-size: clamp(1.5rem, 1.5vw, 2rem);
  --text-size: clamp(1.2rem, 1vw, 1.7rem);
  --small-text-size: clamp(0.8rem, 1vw, 1.2rem);

  --main-font: 'Poppins', sans-serif;
  --title-font: 'Rubik Moonrocks', cursive;

  --border-transparent: 2px solid transparent;
  --main-radius: 1.5rem 0.5rem;
  --medium-radius: 1em;
  --small-radius: 0.5em;

  --main-padding: 0.7em 1.2em;

  --card-shadow: 5px 5px 15px rgba(10, 10, 10, 0.1);
  --box-shadow: 0 0 15px rgba(10, 10, 10, 0.1);
  --box-shadow-hover: 0 0 25px rgba(10, 10, 10, 0.1);
  --inner-shadow: inset 0 5px 15px rgba(10, 10, 10, 0.1);

  --navbar-width: 35rem;
}