@import '../styles/mixins';

.container {
  @include flexCenter;
}

.sign_in {
  opacity: 0;
  transform: translateX(100vw);
  animation: signIn 0.5s ease-in-out forwards;
}

.sign_up {
  opacity: 0;
  transform: translateX(-100vw);
  animation: signUp 0.5s ease-in-out forwards;
}

@keyframes signIn {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes signUp {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}