@import '../styles/mixins';

.container {
  @include flexCenter;
  overflow-x: hidden;
}

.sign_in {
  opacity: 0;
  transform: translateX(200%);
  animation: signIn 0.5s ease-out forwards;
}

.sign_up {
  opacity: 0;
  transform: translateX(-200%);
  animation: signUp 0.5s ease-out forwards;
}

@keyframes signIn {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes signUp {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}