@import './vars';

html {
  scroll-behavior: smooth;
}

body {
  background: $body-color;
  font-family: $main-font;
  color: $text-color; // ????

  ::selection {
    background-color: $main-color;
    color: $body-color;
  }
}

h1, h2, h3, h4 {
  color: $title-color;
}