@import './mixins';

.title {
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  margin-top: 4vh;
}

.container {
  @include flexCenter;
  flex-direction: column;
  margin-top: 10vh;
}

.button {
  @include secondaryButton;
}