// @import './vars';
@import './mixins';

.container {
  @include flexCenter;
  flex-direction: column;
  min-height: 80vh;
}

.title {
  @include flexCenter;
  font-size: 4em;
  font-weight: 600;
  margin: 20px;
}

.text {
  color: var(--text-color);
  max-width: 50vw;

  &_light {
    color: var(--text-color-light);
    margin: 20px;
  }
}

.input {
  max-width: 50vw;
  background: var(--input-color);
  padding: 9px 16px;
  // padding: 1vh 1vw;
  border-radius: var(--small-radius);
}