@import './mixins';

.header {
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  padding: 5em 0;
  gap: 3em;
}

.title {
  font-family: var(--title-font);
  font-size: var(--main-title-size);
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  gap: 15rem;
  overflow-x: hidden;
  padding-bottom: 10vh;
}

.filter {
  position: fixed;
  top: 0;
  height: 100vh;
  background: var(--body-color);
  margin-left: var(--navbar-width);
  z-index: 10;

  &_left {
    left: 0;
    background: linear-gradient(270deg, transparent, var(--body-color));
    width: 20rem;
  }

  &_right {
    right: 0;
    background: linear-gradient(90deg, transparent, var(--body-color));
    width: 8rem;
  }
}