@import './mixins';

.container {
  @include posFixed(0, auto, auto, var(--navbar-width));
  @include flexCenter;
  flex-direction: column;
  background: var(--body-color);
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
  overflow: hidden;
  z-index: 100000;
}

.title {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 200;
  animation: animApparition 3s ease-in-out infinite;
}

.link {
  @include mainButton;
  margin: 50px 0;
}

@keyframes animApparition {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}