@import './mixins';

.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px;
}

.title {
  font-weight: 700;
  font-size: 60px;
}

.input {
  width: 100%;
}

.button {
  cursor: default;
}

.link {
  @include mainButton;
  font-size: 12px;
  white-space: nowrap;
}

.container {
  @include flexCenter;
  flex-direction: column;
}