@import './mixins';

.title {
  text-align: center;
  margin: 50px 0 0;
  font-weight: 600;
  font-size: 2em;
}

.container {
  @include flexCenter;
  flex-direction: column;
}

.link {
  @include mainButton;
  margin-top: 40vh;
}