@import './mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  gap: 100px;
}

.title {
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 10px;
}

.input {
  min-width: 200px;
  width: 100%;
  max-width: 500px;
}

.button {
  cursor: default;
}

.link {
  @include mainButton;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.container {
  @include flexCenter;
  flex-direction: column;
}