@import './mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.title {
  font-weight: 300;
  font-size: 3rem;
}

.container {
  @include flexCenter;
  flex-direction: column;
}

.input {
  width: 500px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.report {
  @include posFixed(auto, 5rem, 3rem, auto);
  @include underlineButton;
}

.banned {
  @include posCenter;
}