@import './mixins';

.title {
  margin: 50px;
  font-weight: 300;
  font-size: 25px;
}

.no_quiz {
  font-size: 20px;
  font-weight: 300;
  margin-top: 40vh;
  text-align: center;
}

.container {
  @include flexCenter;
  flex-direction: column;
}

.input {
  width: 500px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.report {
  @include posFixed(auto, 5rem, 3rem, auto);
  @include underlineButton;
}