@import '../../styles//mixins';

.card {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 800px;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--small-radius);
  transition: .3s;

  &.opened {
    padding: 15px 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 580px;
  white-space: nowrap;
  line-height: 130%;
  color: var(--text-color);
}

.icon {
  height: 50px;
  width: 50px;
  padding: 13px;
  border-radius: var(--small-radius);
  opacity: 0.7;
  transition: transform .3s;

  &.rotated {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
  }
}